<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Site Internet</title>
</head>
<body>
  <div class="bandeau-noir bandeau-haut">
    <p>Les petists passionnés</p>
  </div>

  <div class="conteneur">
    <div class="menu-deroulant">
        <select onchange="window.location.href=this.value">
            <option value="" selected disabled hidden>Choisir une catégorie</option>
            <option value="rugby">RUGBY</option>
            <option value="mecanique">MECANIQUE</option>
            <option value="automobile">AUTOMOBILE</option>
            <option value="horlogerie">HORLOGERIE</option>
      </select>
    </div>

    <div class="cadre-blanc page-categorie">
      <img src="images/Photo ST Jules.jpg" alt="Photo principale">
      <h1>Bienvenue à vous sur ce site qui vous rensemble</h1>
      <p>Voici un site qui rassemble l'essemble de mes passions</p>
      <p>J'ai créé ce site pur que des passionnées puissent se retrouver</p>
      <a href="#" class="bouton-retour">Retour au menu</a>
    </div>
  </div>

  <div class="bandeau-noir bandeau-bas">
    <p>Created and designed by Jules BOUVIER</p>
  </div>
</body>
</html>